# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

#I'm going to sym link to this guy in actuall org dir
org-roam.db

/backups/
transient/
bookmarks*

#fixmee
/var/

#lsp
.lsp-session-v1

#dap
.dap*

#cache
/.cache/
network-security.data

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile*
projectile*

# directory configuration
.dir-locals.el

# undo-tree shit
/.undo-tree-history/
